.tablero-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.puntuacion, .mensaje {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.texto-turno {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.carta {
  margin: 1rem;
  width: 8rem;
  height: 12rem;
}